<br>
<br>
<br>
<br>
<br>
<h1>Next Steps</h1>
<div class="user-friends">
<ul>
	<li> Auto Generate Lat / Long </li>
	<li> Toggle Activities Between Friends and Strangers</li>
	<li> Set Expirations for Created Activities </li>
	<li> Incorporate radius tracking - How do we define proximity - or "aroundness" </li>
	<li>Incorporate numerous confirmations - Only meet up if Both Parties Confirm </li>
<ul>
</div>
