<br>
<br>
<br>
<br>
<h1>Log In</h1>


<%= form_for @user, url: "/sessions" do |f| %>
	<div>
		<%= f.text_field :email, placeholder: "Email" %>
	</div>
	<div>
		<%= f.text_field :password, placeholder: "Password" %>
	</div>
	<div>
		<%= f.submit "LOGIN" %>
	</div>
<% end %>