<header>
		 <div class="container">
			 <div class="row">
				 <div class="col-md-12">
					  <h1>Are you Around?</h1>
					  <p class="lead">'Cuz I'm Down...</p>
					  
					  <div class="carousel-iphone">
					  	<div id="carousel-example-generic" class="carousel slide">
					    
					    <!-- Indicators -->
					    <ol class="carousel-indicators">
					      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					    </ol>
					  
					    <!-- Wrapper for slides -->
					    <div class="carousel-inner">
					      <div class="item active">
					        <img src="assets/screenshots/app-1.png" alt="App Screen 1">
					      </div>
					      <div class="item">
					        <img src="assets/screenshots/app-2.png" alt="App Screen 2">
					      </div>
					      <div class="item">
					        <img src="assets/screenshots/app-3.png" alt="App Screen 3">
					      </div>
					      
					    </div>
					  </div>
					</div>
				</div>	  
			</div>    
		</div>
	 </header>
	  
	  
	  <!-- PURCHASE
	      ================================================== -->
	  <section class="purchase">
		  <div class="container">
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					 <h1>Get together with friends</h1>
					 	    <p class="lead">It's as easy as dropping a pin.</p>
					 	    <button type="button" class="app-store"></button>	
					 	    <p><small>...soon
				  </div>
			  </div>
		  </div>
	  </section>
	  
	  
	  <!-- PAYOFF 
	      ================================================== -->
	  <section class="payoff" id="the_architects">
		<div class="container">
			  <div class="row">
				  <div class="col-md-12">
					  <h1>Built by three, bad ass motha' fuckas...</h1>
					  <p>And no one else</p>
				  </div>
			  </div>
		  </div>	  
	  </section>
	  
	  
	  <!-- DETAILS 
	      ================================================== -->
	  <section class="detail">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="carousel-example-generic-2" class="carousel slide">
										
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      	<div class="row">
					      		<div class="col-sm-12 col-md-offset-1 col-md-6">
					      			<h1>Some People are Around, but not Down</h1>
					      			<p>Can't do much with that...</p>
					      		</div>
					      		<div class="col-sm-12 col-md-5">
					      			<div class="app-screenshot">
					      				<img src="assets/screenshots/app-1.png" class="img-responsive" alt="App Screen 1">
					      			</div>
					      		</div>
					      	</div>
					    </div>
					    <div class="item">
					    	<div class="row">
					    		<div class="col-sm-12 col-md-offset-1 col-md-6">
					    			<h1>Some People are Down, but not Around</h1>
					    			<p>And there's surge pricing...fuck that</p>
					    		</div>
					    		<div class="col-sm-12 col-md-5">
					    			<div class="app-screenshot">
					    				<img src="assets/screenshots/app-2.png" class="img-responsive" alt="App Screen 2">
					    			</div>
					    		</div>
					    	</div>
						</div>
					    <div class="item">
					      <div class="row">
					      	<div class="col-sm-12 col-md-offset-1 col-md-6">
					      		<h1>Who is Around AND Down?</h1>
					      		<p>Yeeeeeeeeeeee</p>
					      	</div>
					      	<div class="col-sm-12 col-md-5">
					      		<div class="app-screenshot">
					      			<img src="assets/screenshots/app-3.png" class="img-responsive" alt="App Screen 3">
					      		</div>
					      	</div>
					      </div>
					    </div>
					  </div>
					
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
					  </ol>		
					</div>
				</div>
			</div>
		</div>
	</section>
	
	  
	  <!-- FEATURES ================================================== -->
	  <section class="features" id="app_features">
		  <div class="container">
			  <div class="row">
				
				  <div class="col-md-4">
					  <div class="circle"><i class="fa fa-users"></i></div>
					  <h2>Easy Interaction</h2>
					  <p>Get straight to the point, create an activity &amp; and connect with friends.</p>
				  </div>
				
				  <div class="col-md-4">
					  <div class="circle"><i class="fa fa-puzzle-piece"></i></div>
					  <h2>Bump Into Friends</h2>
					  <p>State-of-the-Art geolocation populates your dashboard with friends in the immediate area.</p>
				  </div>
				 
				  <div class="col-md-4">
					  <div class="circle"><i class="fa fa-heart"></i></div>
					  <h2>In a Galaxy</h2>
					  <p>Far, far away... Three developers built a dope app</p>
				  </div>
				  
			  </div>
		  </div>
	  </section>
	  
	
	 <!-- SOCIAL
	     ================================================== -->
	  <section class="social" id="connect_with_us">
	  	<div class="container">
	  		  <div class="row">
	  			  <div class="col-md-12">
	  			  	<h2>Connect with us</h2>
	  			   	<a class="fa fa-facebook"></a>
	  			   	<a class="fa fa-twitter"></a>
	  			   	<a class="fa fa-google"></a>
	  			   	<a class="fa fa-instagram"></a>
	  			   	<a class="fa fa-github"></a>
	  			   </div>
	  		  </div>
	  	  </div>	  
	  </section>
	  
	
	 <!-- GET IT ================================================== -->
	  <section class="get-it">
	  	<div class="container">
	  		<div class="row">
	  			<div class="col-md-12">
	  				<h1>Available now in San Francisco, California.</h1>
	  				<p class="lead">Sign Up and Get Down</p>
	  				<button type="button" class="app-store"></button>
	  			</div>
	  			<div class="col-md-12">
	  				<hr />
		  			<ul>
            	<li><a href="#connect_with_us">Contact</a></li>
            	<li><a href="#link-here">Twitter</a></li>
            	<li><a href="#link-here">Blog</a></li>
            	<li><a href="#link-here">Support</a></li>
            	<li><a href="#link-here">Developers</a></li>
            	<li><a href="#link-here">Privacy</a></li>
          	</ul>
	  			</div>
	  		</div>
	  	</div>
	  </section>
	  
	 
	 <!-- JAVASCRIPT ================================================== -->
		<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$('header .carousel').carousel({
				interval: 3000
					})
			});

		</script>
	  <script>

	  	// toggle visibility for css3 animations 
$(document).ready(function() {
	$('header').addClass('visibility');
	$('.carousel-iphone').addClass('visibility');
	$('.payoff h1').addClass('visibility');
	$('.features .col-md-4').addClass('visibility');
	$('.social .col-md-12').addClass('visibility');
});


//iphone carousel animation
$(window).load(function () {
	$('header').addClass("animated fadeIn");
	$('.carousel-iphone').addClass("animated fadeInLeft");
});
// Fixed navbar
$(window).scroll(function () {

var scrollTop = $(window).scrollTop();

	if (scrollTop > 200) {
		$('.navbar-default').css('display', 'block');
		$('.navbar-default').addClass('fixed-to-top');
			
	} else if (scrollTop == 0)   {
	
		$('.navbar-default').removeClass('fixed-to-top');
	}
	
	
//animations	
	$('.payoff h1').each(function(){
			
		var imagePos = $(this).offset().top;
		var topOfWindow = $(window).scrollTop();
			
			if (imagePos < topOfWindow+650) {
				$(this).addClass("animated fadeInLeft");
			}		
				
	});
	
	$('.purchase button.app-store').each(function(){
			
		var imagePos = $(this).offset().top;
		var topOfWindow = $(window).scrollTop();
			
			if (imagePos < topOfWindow+650) {
				$(this).addClass("animated pulse");
			}		
				
	});
	
	$('.features .col-md-4').each(function(){
			
		var imagePos = $(this).offset().top;
		var topOfWindow = $(window).scrollTop();
			
			if (imagePos < topOfWindow+650) {
				$(this).addClass("animated flipInX");
			}		
				
	});
	
	$('.social .col-md-12').each(function(){
			
		var imagePos = $(this).offset().top;
		var topOfWindow = $(window).scrollTop();
			
			if (imagePos < topOfWindow+550) {
				$(this).addClass("animated fadeInLeft");
			}		
				
	});
	
	$('.get-it button.app-store').each(function(){
			
		var imagePos = $(this).offset().top;
		var topOfWindow = $(window).scrollTop();
			
			if (imagePos < topOfWindow+850) {
				$(this).addClass("animated pulse");
			}		
				
	});
	
	
});


// Parallax Content

function parallax() {

		// Turn parallax scrolling off for iOS devices
		   
		    var iOS = false,
		        p = navigator.platform;
		
		    if (p === 'iPad' || p === 'iPhone' || p === 'iPod') {
		        iOS = true;
		    }
	
		var scaleBg = -$(window).scrollTop() / 3;

        if (iOS === false) {
            $('.payoff').css('background-position-y', scaleBg - 150);
            $('.social').css('background-position-y', scaleBg + 200);
        }
   
}

function navbar() {

	if ($(window).scrollTop() > 1) {
	    $('#navigation').addClass('show-nav');
	} else {
	    $('#navigation').removeClass('show-nav');
	}
	
}

$(document).ready(function () {

	var browserWidth = $(window).width();
	
	if (browserWidth > 560){ 
	
		$(window).scroll(function() {
			parallax();
			navbar();
		});
	
	}

});	


$(window).resize(function () {

	var browserWidth = $(window).width();
	
	if (browserWidth > 560){ 
	
		$(window).scroll(function() {
			parallax();
			navbar();
		});
	
	}

});	


// iPhone Header Carousel
$('header .carousel').carousel({
  interval: 3000
})

// iPhone Features Carousel
$('.detail .carousel').carousel({
  interval: 4000
})

	  </script>
    <script src="vendor/assets/javascripts/jquery.js"></script>
    <script src="vendor/assets/javascripts/bootstrap.min.js"></script>
    <script src="vendor/assets/javascripts/animatescroll.js"></script>
    <script src="vendor/assets/javascripts/scripts.js"></script>
    <script src="vendor/assets/javascripts/retina-1.1.0.min.js"></script>