<div class="header">
	<section id="header" class="appear">
		
		<div class="navbar navbar-default navbar-fixed-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">Around & Down
					</a></h1>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
						<li class="active"><a href="#index">Home</a></li>
						<li><a href="#section-about">About</a></li>
<!-- 						<li><a href="#services"></a></li> -->
						<li><a href="#team">Team</a></li>
						<li><a href="#section-contact">Contact</a></li>
						<li><a href="/sign_up">Sign Up</a></li>
					</ul>
				</div><!--/.navbar-collapse -->
			</div>
		
		
	</section>
	</div>