
 <!-- 
 	=================== NAVBAR ===================== -->
	<nav class="navbar navbar-default navbar-fixed-top">
	<a class="navbar-brand" href="/">Around & Down</a>
	<ul class="nav navbar-nav navbar-right">
	  <button type="button" class="navbar-toggle">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  
	  <!--Replace text with your app name or logo image-->
	  <ul class="nav navbar-nav">
	    <li><a href="/sign_up">Sign Up</a></li>
	    <li><a href="/login">Login</a></li>
	    <li><a href="#app_features">Features</a></li>
	    <li><a href="#the_architects">The Architects</a></li>
	    <li><a href="#connect_with_us">Contact Us</a></li>
	  </ul>
	</nav>

